<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Track View HTMl</title>
</head>
<body>
  <section>
    <label for="Title">Title: {{track.title}}</label><br/><br/>
    <label for="Order">Order: {{track.order}}</label><br/><br/>
    <label for="File">File: {{track.track_file}}</label><br/><br/>
    <label for="Album">Album: {{track.album}}</label><br/><br/>
    <label for="Artist">Artist: {{track.artist}}</label><br/><br/>
    <label for="Artist">Biography: {{track.artist.biography}}</label><br/><br/>
  </section>
</body>
</html>
